# Ignoring iverilog output files
*.vcd
*.vvp
*_sim
*.out

# Ignoring latex compilation intermediary files
report/*
!report/references.bib
!report/report_seq.pdf
!report/report_seq.tex
!report/report_pipe.pdf
!report/report_pipe.tex
!report/figures/

# Ignore build artifacts
*.exe
Assembler/asm

# Ignore register and memory logs
logs/
register_file.txt