# Ignoring iverilog output files
*.vcd
*.vvp
*_sim

# Ignoring latex compilation intermediary files
report/*
!report/references.bib
!report/report.pdf
!report/report.tex
!report/figures/

# Ignore build artifacts
*.exe
